.content{
    display: table;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
}

.count-div{
    display: table-footer-group;
    height: 100px;
    font-size: larger;
    background-color: cornflowerblue;
    text-align: center;
}

.count-p{
    margin: 0;
    padding: 30px 0;
}
.time-div{
    max-height: calc(100vh - 230px);
 overflow-y:scroll
}
